.table-bordered td {
  font-size: 19px;
}
.ntmain {
  position: relative;
}

.mtimg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 35%);
}
.mtimg img{
  width: 400px;
}
.makeStyles-root-39 {
  justify-content: center !important;
}

.makeStyles-icon-46 {
  font-size: 100px !important;
}